.Zebra_Tooltip {
    background: 0 0;
    position: absolute;
    z-index: 8000;
    min-width: 150px;
    text-align: center;
}
.Zebra_Tooltip .Zebra_Tooltip_Message {
    background: #2ca8ff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(44, 168, 255,.6);
    color: #fff;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.4;
    *margin-right: 0;
    max-width: 250px;
    padding: 10px;
    position: relative;
    _width: expression(document.body.clientWidth > 250px ? '250px': 'auto');
    border: 0 solid #2ca8ff
}
.Zebra_Tooltip .Zebra_Tooltip_Message.Zebra_Tooltip_Has_Close {
    padding-right: 23px
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow {
    position: absolute;
    width: 20px;
    height: 10px;
    overflow: hidden
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom {
    bottom: 0
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom div {
    top: 0;
    border-color: #2ca8ff transparent transparent;
    _border-bottom-color: pink
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom div.Zebra_Tooltip_Arrow_Border {
    border-color: #2ca8ff transparent transparent
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top {
    top: 0
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top div {
    bottom: 0;
    border-color: transparent transparent #2ca8ff;
    _border-top-color: pink
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top div.Zebra_Tooltip_Arrow_Border {
    border-color: transparent transparent #2ca8ff
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow div {
    position: absolute;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    left: 0;
    _border-left-color: pink;
    _border-right-color: pink;
    _filter: chroma(color=pink)
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow div.Zebra_Tooltip_Arrow_Border {
    border-width: 10px;
    box-shadow: 0 0 6px rgba(44, 168, 255,.6);
    left: 0
}
.Zebra_Tooltip .Zebra_Tooltip_Close {
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1;
    padding: 0 4px;
    position: absolute;
    right: 2px;
    text-decoration: none;
    top: 2px
}
.Zebra_Tooltip .Zebra_Tooltip_Close:hover {
    color: #2ca8ff;
    background: #c2d076;
    border-radius: 5px
}